# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Fichiers système et IDE
.idea/
.DS_Store

# Environnement virtuel Python
.venv/
venv/
__pycache__/

# Fichiers de configuration sensibles
.env

# Tes fichiers XML indésirables
*.xml

*.meta